@import "tailwindcss";

@theme {
  --color-neon-blue: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-neon-green: #0aff0a;
  --color-cyber-black: #050505;
  --color-cyber-dark: #111111;

  --font-mono: "JetBrains Mono", "Courier New", Courier, monospace;
  
  --animate-gradient: gradient 3s linear infinite;

  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}

body {
  @apply bg-cyber-black text-white font-mono overflow-x-hidden;
}