@use 'variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $cyber-black;
    color: white;
    font-family: $font-mono;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

::selection {
    background-color: $neon-blue;
    color: black;
}